{
	"bracketSameLine": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 80,
	"trailingComma": "es5",
	"endOfLine": "lf",
	"vueIndentScriptAndStyle": true
}
